* {
	margin: 0;
	padding: 0;
}

h1{
 display: none;
}

body{
	width: 980px;
	height: 1350px;
}
#mainHeader {
	width: 980px;
	height: 60px;
	background-color: orange;
	border: 1px solid red;
	margin: 1px;
}

#subHeader {
	width: 980px;
	height: 60px;
	background-color: orange;
	border: 1px solid red;
}

#mapwapper {
	width: 980px;
	height: 260px;
	background-color: #00D8FF;
	border: 1px solid red;
	margin: 1px;
}
#map{
	background-color: #00D8FF;
	border: 1px solid yellow;
	margin: 1px;
	width: 700px;
	height: 245px;
	float: left;
	
}
#wapper{
	background-color: #00D8FF;
	border: 1px solid red;
	width: 270px;
	height: 200px;
	float: left;
	
}

#aside {
	width: 280px;
	height: 600px;
	float: right;
	background-color: yellow;
	border: 1px solid red;
	float: right;
}

#footer {
	width: 980px;
	height: 200px;
	clear: both;
	background-color: green;
	border: 1px solid red;
	float: left;
}

 #img {
 	width: 283px;
	height: 65px;
	background-color: #00D8FF;
	border: 1px solid red;
	float: right;
}

#newsmap {
	width: 283px;
	height: 108px;
	background-color: #00D8FF;
	border: 1px solid red;
	float: right;
}

#search {
	width: 283px;
	height: 65px;
	background-color: #00D8FF;
	border: 1px solid red;
	float: right;
}

#property{
	width: 695px;
	height: 600px;
	background-color: #00D8FF;
	border: 1px solid red;
	float: left;
}
#contantheader{
	width : 694px;
	height : 65px;
	background-color: #00D8FF;
	border: 1px solid red;
} 
#newswapper{
	 width: 345px;
	height: 535px;
	background-color: #00D8FF;
	border: 1px solid red; 
	float:left;
} 
 #propertywapper2{
	width: 345px;
	height: 535px;
	background-color: #00D8FF;
	border: 1px solid green;
	float: right;
} 

#newsheader{
	width : 694px;
	height : 176px;
	background-color: #00D8FF;
	border: 1px solid red;
	
}
#newsbody{
	
	width : 694px;
	height : 176px;
	background-color: #00D8FF;
	border: 1px solid red;
	
}

#newsfooter{
	
	width : 694px;
	height : 176px;
	background-color: #00D8FF;
	border: 1px solid red;
}
#propertybody{
	width : 345px;
	height : 354px;
	background-color: #00D8FF;
	border: 1px solid red;
	
}

#propertyfooter{
	width : 345px;
	height : 176px;
	background-color: #00D8FF;
	border: 1px solid red;
}
#aside1{
	width : 285px;
	height : 192px;
	background-color: #00D8FF;
	border: 1px solid red;
}

#aside2{
	width : 285px;
	height : 369px;
	background-color: #00D8FF;
	border: 1px solid red;
	
}

#maheader{
	width : 285px;
	height : 123px;
	background-color: #00D8FF;
	border: 1px solid red;
	
}
#mabady{
	width : 285px;
	height : 123px;
	background-color: #00D8FF;
	border: 1px solid red;
	
}
#mafooter{
	width : 285px;
	height : 123px;
	background-color: #00D8FF;
	border: 1px solid red;
}